.bg-\[\#808080\] {
    --tw-bg-opacity: 1;
    background-color: rgb(128 128 128 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#a7aab0\] {
    --tw-bg-opacity: 1;
    background-color: rgb(167 170 176 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#ae734e\] {
    --tw-bg-opacity: 1;
    background-color: rgb(174 115 78 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#a3a6e8\] {
    --tw-bg-opacity: 1;
    background-color: rgb(163 166 232 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#FFA500\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 165 0 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#bc8f8f\] {
    --tw-bg-opacity: 1;
    background-color: rgb(188 143 143 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#0000FF\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 255 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#B7B09C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(183 176 156 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#FFC0CB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 192 203 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#964B00\] {
    --tw-bg-opacity: 1;
    background-color: rgb(150 75 0 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#800000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(128 0 0 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#00FF00\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 255 0 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#A9A9A9\] {
    --tw-bg-opacity: 1;
    background-color: rgb(169 169 169 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#808000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(128 128 0 / var(--tw-bg-opacity));
  }

  .bg-\[\#111827\] {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }